.playlist{
  // border: 1px dashed black;
  width: 300px;
  max-height: 595px;
  margin-left: 50px;
  padding-top: 10px;
  justify-content: flex-start !important;
  overflow: auto;
  background-color: #f9f9f9;
  align-self: flex-start !important;
}

.thumbnail{
  width: 260px;
  margin-bottom: 20px;
  animation: animationIn .3s ease-in forwards;
  img {
    width: 100%;
    margin-bottom: 5px;
  }

  .row{
    width: 100%;
    justify-content: space-between !important;
  }

  .details{
    align-items: flex-start !important;
    color: var(--gray);
    width: 100%;
  }

  h1{
    margin: 0;
    font-size: 12px
  }

  p{
    margin: 0;
    font-size: 10px;
  }

}

.thumbnail:first-of-type{
  margin-bottom: 5px;
}

hr{
  border: 0; 
  height: 0; 
  border-top: 1px solid rgba(0, 0, 0, 0.1); 
  border-bottom: 1px solid var(--gray-dark);
  width: 260px;
  margin-bottom: 15px
}