/* Fonts */ 
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../dist/fonts/Roboto-Regular.ttf) format('truetype');
}

/* Color palette */
:root{
  --gray: #787878;
  --gray-dark: #5F605F;
  --gray-light: #959494;
  --green: #A0FB80;
  --blue: #6891F1;
  --red: #FC4C4C;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app{
  border: 1px solid blue;
  width: 1100px;;
  height: 100vh;
  margin: 0 auto;
}

.app-content{
 width: 100%;
 justify-content: flex-start !important;
}

.column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}